<!DOCTYPE html>

<h1>Bonjour, confirmer votre inscription !</h1>

<p>
    Bienvenue sur Bivouac 974 Veuillez cliquer sur le lien pour confimer votre inscription <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    Ce lien espirera dans : {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
