

{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<div class="w-full md:w-1/2 mx-auto mt-5 px-5 flex-col">
    <p class="">
        Si un compte correspond avec l'adresse mail que vous avez entré, vous avez reçu un lien pour réinitialiser votre mot de passe, ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p class="mb-6">Si vous n'avez rien reçu, regarder dans vos spam ou :</p> 
    <a class="w-auto bg-green-500 hover:bg-green-700 rounded-lg shadow-xl font-medium text-white px-4 py-2" href="{{ path('app_forgot_password_request') }}">Reessayer</a>
</div>
    
{% endblock %}
