{% extends 'base.html.twig' %}

{% block title %}Liste des bivouacs
{% endblock %}
{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
{% endblock %}
{% block body %}

<!-- On créé des variables personnalisés -->
{% set queryParams = app.request.query.all %}

<section class="text-gray-600 body-font">
	<!-- partie filtrage/recherche avancée -->

	<div class="max-w-2xl mx-auto px-4">
		{% include "bivouacs/_bivouacFilters.html.twig" %}		
	</div>

	<!-- Listes des bivouacs et pagination -->			
		{% include "bivouacs/_bivouacCard.html.twig" %}			
</section>
	
{% endblock %}

{% block javascripts %}
<script src="{{asset('js/filters.js')}}"></script>
{% endblock %}