{% extends 'base.html.twig' %}

{% block title %}Gérer les catégories{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.3.1/dist/css/axentix.min.css">

<h1 class="pt-5 text-center">Gérer les catégories</h1>
<a href="{{ path('admin_categories_ajout')}}" class="btn shadow-1 rounded-1 blue my-3 ml-3" >Ajouter une catégorie</a>
	
<table class="table striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nom</th>
			</tr>
		</thead>
		<tbody>
			{% for categorie in categories %}
				<tr>
					<td>{{categorie.id}}</td>
					<td>{{categorie.name}}</td>
					<td class="float-right">
						
						<a href="{{ path('admin_categories_modifier', {id: categorie.id})}}" class="btn shadow-1 rounded-1 blue" >Modifier</a>
						
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}





