<h1>Nouveau message de bivouac974</h1>

<p>De : Bivouac 974</p>

<p>Sujet : Nouveau spot dans bivouac974</p>
<p>Message : Un nouveau spot vient d'être ajouté dans Bivouac 974, il vous attend pour la modération !</p>